<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @perk.description %>
</p>

<p>
  <strong>Product:</strong>
  <%= link_to @perk.product.name, @perk.product %>
</p>

<%= link_to 'Edit', edit_perk_path(@perk) %> |
<%= link_to 'Back', perks_path %>
