<h1>Listing perks for <%= link_to @product.name, @product %></h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @perks.each do |perk| %>
      <tr>
        <td><%= perk.description %></td>
        <td><%= link_to 'Show', perk %></td>
        <td><%= link_to 'Edit', edit_perk_path(perk) %></td>
        <td><%= link_to 'Destroy', perk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perk', new_product_perk_path %>
